html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
    background: #F2F2F2;
    color: #323232;
}

img {
    max-width: 100%;
}

.icon {
    fill: currentColor;
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
}

a {
    color: #323232;
    text-decoration: underline;
}

h1 span {
    font-size: 20px;
}

.container {
    max-width: 960px;
    margin: 40px auto;
    padding: 32px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* HTML Info */

img.avatar {
    width: 200px;
}

.my-title {
    font-size: 20px;
    font-weight: 500;
    color: rgb(8, 130, 238);
}

.links {
    display: flex;
    margin: 10px 0 10px 0;
}

@media only screen and (max-width: 768px) {
    .links {
        flex-direction: column;
    }
}